/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto";
  font-size: 16px;
}

h1 {
  font-family: "Shrikhand";
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

/* Colors variables */
/* Title size variable */
body {
  font-family: "Roboto";
  font-size: 16px;
}

h1 {
  font-family: "Shrikhand";
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.header {
  height: 3rem;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.5rem #9b9b9b;
}
.header--menu {
  position: absolute;
}
.header__icon__container {
  position: absolute;
  left: 1rem;
}
.header__icon__container .header-back__link {
  color: #000000;
}

.restaurants__container {
  background-color: #e8e8e8;
}
.restaurants__container .restaurants__title {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 0 2rem 2rem;
}
.restaurants__container .restautants__card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}
.restaurants__container .restautants__card__container .restaurant__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 1.5rem 0 1.5rem 0;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.5rem #cecece;
  transform: scale(1);
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__link .restaurant__picture {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__novelty-frame__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: auto;
  background-color: #99e2d0;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__novelty-frame__container .restaurant__card__novelty-frame {
  color: #2c9c81;
  padding: 0.2rem;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information .restaurant__card__title {
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem 0 0.25rem 1rem;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information .restaurant__localisation-information {
  font-size: 1rem;
  font-weight: 100;
  padding: 0.25rem 0 1rem 1rem;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information .restaurant__card__information__icon__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 4.5rem;
  height: 4.5rem;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information .restaurant__card__information__icon__container .restaurant__card__information__icon {
  color: #000000;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: -1;
  transition: 0.2s;
  font-size: 1.5rem;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information .restaurant__card__information__icon__container .restaurant__card__information__icon--full {
  font-size: 1.5rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 1;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: all 0.2s;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information .restaurant__card__information__icon__container .restaurant__card__information__icon--full:hover {
  opacity: 1;
}

.main__menu .menu__picture__container .menu__picture {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  position: relative;
  top: 2rem;
  z-index: -1;
}
.main__menu .menu__categories__container {
  display: flex;
  flex-direction: column;
}
.main__menu .menu__categories__container .menu__categories__title {
  font-size: 1.2rem;
  margin: 0.5rem 1rem;
  font-weight: 400;
  width: 2.5rem;
  border-bottom: 0.2rem solid #99e2d0;
}
.main__menu .menu__categories__container .menu__categories__choice__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 2rem);
  margin: 0.5rem 1rem;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.5rem 0 #828282;
  border-radius: 1rem;
  overflow: hidden;
}
.main__menu .menu__categories__container .menu__categories__choice__container:hover .menu__categories__text {
  width: calc(100% - 4.5rem);
}
.main__menu .menu__categories__container .menu__categories__choice__container:hover .menu__categories__animation {
  width: 4.5rem;
}
.main__menu .menu__categories__container .menu__categories__choice__container:hover .menu__categories__animation__icon {
  transform: rotate(360deg);
}
.main__menu .menu__categories__container .menu__categories__choice__container .menu__categories__text {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main__menu .menu__categories__container .menu__categories__choice__container .menu__choice {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main__menu .menu__categories__container .menu__categories__choice__container .menu__sub-choice {
  font-size: 0.8rem;
  font-weight: 300;
  margin: 0.5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main__menu .menu__categories__container .menu__categories__choice__container .menu__price {
  font-weight: bold;
  margin: 0.5rem;
  align-self: flex-end;
  justify-content: flex-end;
}
.main__menu .menu__categories__container .menu__categories__choice__container .menu__choice__animation__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 4.5rem;
  overflow: hidden;
  background-color: #99e2d0;
  border-radius: 0 1rem 1rem 0;
}
.main__menu .menu__categories__container .menu__categories__choice__container .menu__choice__animation__container .menu__choice__animation__icon {
  color: #fff;
  margin: 1rem;
}
.main__menu .menu__categories__text {
  display: grid;
  margin: 0 0.5rem;
  grid-template-columns: 1fr auto;
  width: 100%;
  transition: all 0.5s;
}
.main__menu .menu__categories__text .menu__sub-choice {
  grid-row: 2/span 1;
  grid-column: 1/span 1;
}
.main__menu .menu__categories__text .menu__price {
  grid-row: 2/span 1;
  grid-column: 2/span 1;
  padding: 0.5rem;
}
.main__menu .menu__categories__animation {
  background-color: #99e2d0;
  overflow: hidden;
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.5s;
}
.main__menu .menu__categories__animation .menu__categories__animation__icon {
  transition: all 0.5s;
  font-size: 1.5rem;
}
.main__menu .restaurant__container {
  display: flex;
  flex-direction: column;
  background-color: #e8e8e8;
  border-radius: 2rem 2rem 0 0;
}
.main__menu .restaurant__container .restaurant__title__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main__menu .restaurant__container .restaurant__title__container .restaurant__title {
  font-size: 1.2rem;
  font-family: Shrikhand;
  font-weight: 400;
  padding: 1rem 1rem;
}
.main__menu .restaurant__container .restaurant__title__container .restaurant__icon__container {
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main__menu .restaurant__container .restaurant__title__container .restaurant__icon__container .restaurant__icon {
  color: #000000;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 1;
  transition: 0.2s;
  font-size: 1.5rem;
}
.main__menu .restaurant__container .restaurant__title__container .restaurant__icon__container .restaurant__icon--full {
  font-size: 1.5rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 2;
  color: transparent;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 0.2s;
}
.main__menu .restaurant__container .restaurant__title__container .restaurant__icon__container .restaurant__icon--full:hover {
  opacity: 1;
}
.main__menu .button__container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.main__menu .button__container .button {
  padding: 1rem;
  border-radius: 2rem;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border: transparent;
  background: linear-gradient(#9356DC, #FF79DA);
  box-shadow: 0 0.2rem 0.5rem 0 #828282;
}
.main__menu .button__container .button:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 0.2rem 0.5rem 0 #353535;
  transition: all 400ms;
}

footer {
  background-color: #353535;
}
footer div {
  margin-left: 10%;
}
footer div h2 {
  font-family: "Shrikhand";
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 0 1rem 0;
}
footer div ul {
  display: flex;
  flex-direction: column;
}
footer div ul__link__icon {
  color: #fff;
}
footer div ul li {
  list-style: none;
  padding: 0.75rem 0;
}
footer div ul li a {
  font-weight: 300;
  text-decoration: none;
  color: #fff;
}
footer div ul li a i {
  width: 0.75rem;
  padding-right: 0.75rem;
}
footer div ul li .footer__nav__link--active {
  font-weight: bold;
}

.localisation-search__container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8e8e8;
  width: 100%;
  height: 3rem;
}
.localisation-search__container .localisation-search__icon {
  padding: 0.5rem;
}
.localisation-search__container .localisation-choice {
  background-color: #e8e8e8;
  border: solid transparent 0;
  appearance: none;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 1.2rem;
}

.operation {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 15rem;
}
.operation .operation__title {
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 2rem;
}
.operation .operation__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2rem;
  position: relative;
}
.operation .operation__container .operation__number__container {
  position: absolute;
  left: 1.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356DC;
  border: 0.1rem solid #9356DC;
  border-radius: 2rem;
  width: 1.2rem;
  height: 1.25rem;
}
.operation .operation__container .operation__number__container .operation__number {
  color: #fff;
}
.operation .operation__container .operation__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: calc(100% - 4rem);
  height: 2.5rem;
  border-radius: 0.75rem;
  background-color: #f2f2f2;
  box-shadow: 0.2rem 0.2rem 0.5rem #cecece;
  color: black;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}
.operation .operation__container .operation__link .operation__icon {
  padding: 0.5rem;
}
.operation .operation__container .operation__link .operation__icon i {
  color: #8e8e8e;
}
.operation .operation__container .operation__link:hover {
  background-color: #f2eafb;
  transition: all 400ms;
}
.operation .operation__container .operation__link:hover i {
  color: #9356DC;
  transition: all 400ms;
}

.restaurant-selection__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 18rem;
  background-color: #f4f4f4;
}
.restaurant-selection__container .restaurant-selection__title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
.restaurant-selection__container .restaurant-selection__info {
  font-size: 1.1rem;
  text-align: center;
  font-weight: 200;
  width: 100%;
}
.restaurant-selection__container .restaurant-selection__link {
  padding: 1rem;
  border-radius: 2rem;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border: transparent;
  background: linear-gradient(#9356DC, #FF79DA);
  box-shadow: 0 0.2rem 0.5rem 0 #828282;
}
.restaurant-selection__container .restaurant-selection__link:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 0.2rem 0.5rem 0 #353535;
  transition: all 400ms;
}

.loader {
  height: 100vh;
  width: 100%;
  margin: 0;
  background-color: #353535;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loading-end 3s forwards;
}

.loader-text {
  color: #9356DC;
  letter-spacing: 0.5rem;
  font-family: "Shrikhand";
  font-size: 1.5rem;
  font-weight: 300;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    color: #9356DC;
    text-shadow: 0 0 0.25rem #9356DC;
  }
  25% {
    color: #FF79DA;
    text-shadow: 0 0 0.25rem #9356DC;
  }
  50% {
    color: #9356DC;
    text-shadow: 0 0 0.25rem #9356DC;
  }
  100% {
    color: #FF79DA;
    text-shadow: 0 0 0.25rem #9356DC;
    transform: scaleY(1000px);
  }
}
.loader-text:nth-child(1) {
  animation-delay: 0.1s;
}

.loader-text:nth-child(2) {
  animation-delay: 0.2s;
}

.loader-text:nth-child(3) {
  animation-delay: 0.3s;
}

.loader-text:nth-child(4) {
  animation-delay: 0.4s;
}

.loader-text:nth-child(5) {
  animation-delay: 0.5s;
}

.loader-text:nth-child(6) {
  animation-delay: 0.6s;
}

.loader-text:nth-child(7) {
  animation-delay: 0.7s;
}

.loader-text:nth-child(8) {
  animation-delay: 0.8s;
}

@keyframes loading-end {
  0% {
    transform: translateY(0);
  }
  95% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-300vw);
  }
}
@media screen and (min-widht: 600px) and (max-width: 769px) {
  .header .header__logo__container {
    height: 4.5rem;
    width: 100%;
  }
  .header .header__logo__container .header__logo {
    background-color: red;
  }
  .header .header__logo__container .header__logo .logo-picture {
    color: red;
    height: 3rem;
    width: 5rem;
  }
}
body {
  font-family: "Roboto";
  font-size: 16px;
}

h1 {
  font-family: "Shrikhand";
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.header {
  height: 3rem;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.5rem #9b9b9b;
}
.header--menu {
  position: absolute;
}
.header__icon__container {
  position: absolute;
  left: 1rem;
}
.header__icon__container .header-back__link {
  color: #000000;
}

.restaurants__container {
  background-color: #e8e8e8;
}
.restaurants__container .restaurants__title {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 0 2rem 2rem;
}
.restaurants__container .restautants__card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}
.restaurants__container .restautants__card__container .restaurant__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 1.5rem 0 1.5rem 0;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.5rem #cecece;
  transform: scale(1);
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__link .restaurant__picture {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__novelty-frame__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: auto;
  background-color: #99e2d0;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__novelty-frame__container .restaurant__card__novelty-frame {
  color: #2c9c81;
  padding: 0.2rem;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information .restaurant__card__title {
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem 0 0.25rem 1rem;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information .restaurant__localisation-information {
  font-size: 1rem;
  font-weight: 100;
  padding: 0.25rem 0 1rem 1rem;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information .restaurant__card__information__icon__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 4.5rem;
  height: 4.5rem;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information .restaurant__card__information__icon__container .restaurant__card__information__icon {
  color: #000000;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: -1;
  transition: 0.2s;
  font-size: 1.5rem;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information .restaurant__card__information__icon__container .restaurant__card__information__icon--full {
  font-size: 1.5rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 1;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: all 0.2s;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information .restaurant__card__information__icon__container .restaurant__card__information__icon--full:hover {
  opacity: 1;
}

.main__menu .menu__picture__container .menu__picture {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  position: relative;
  top: 2rem;
  z-index: -1;
}
.main__menu .menu__categories__container {
  display: flex;
  flex-direction: column;
}
.main__menu .menu__categories__container .menu__categories__title {
  font-size: 1.2rem;
  margin: 0.5rem 1rem;
  font-weight: 400;
  width: 2.5rem;
  border-bottom: 0.2rem solid #99e2d0;
}
.main__menu .menu__categories__container .menu__categories__choice__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 2rem);
  margin: 0.5rem 1rem;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.5rem 0 #828282;
  border-radius: 1rem;
  overflow: hidden;
}
.main__menu .menu__categories__container .menu__categories__choice__container:hover .menu__categories__text {
  width: calc(100% - 4.5rem);
}
.main__menu .menu__categories__container .menu__categories__choice__container:hover .menu__categories__animation {
  width: 4.5rem;
}
.main__menu .menu__categories__container .menu__categories__choice__container:hover .menu__categories__animation__icon {
  transform: rotate(360deg);
}
.main__menu .menu__categories__container .menu__categories__choice__container .menu__categories__text {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main__menu .menu__categories__container .menu__categories__choice__container .menu__choice {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main__menu .menu__categories__container .menu__categories__choice__container .menu__sub-choice {
  font-size: 0.8rem;
  font-weight: 300;
  margin: 0.5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main__menu .menu__categories__container .menu__categories__choice__container .menu__price {
  font-weight: bold;
  margin: 0.5rem;
  align-self: flex-end;
  justify-content: flex-end;
}
.main__menu .menu__categories__container .menu__categories__choice__container .menu__choice__animation__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 4.5rem;
  overflow: hidden;
  background-color: #99e2d0;
  border-radius: 0 1rem 1rem 0;
}
.main__menu .menu__categories__container .menu__categories__choice__container .menu__choice__animation__container .menu__choice__animation__icon {
  color: #fff;
  margin: 1rem;
}
.main__menu .menu__categories__text {
  display: grid;
  margin: 0 0.5rem;
  grid-template-columns: 1fr auto;
  width: 100%;
  transition: all 0.5s;
}
.main__menu .menu__categories__text .menu__sub-choice {
  grid-row: 2/span 1;
  grid-column: 1/span 1;
}
.main__menu .menu__categories__text .menu__price {
  grid-row: 2/span 1;
  grid-column: 2/span 1;
  padding: 0.5rem;
}
.main__menu .menu__categories__animation {
  background-color: #99e2d0;
  overflow: hidden;
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.5s;
}
.main__menu .menu__categories__animation .menu__categories__animation__icon {
  transition: all 0.5s;
  font-size: 1.5rem;
}
.main__menu .restaurant__container {
  display: flex;
  flex-direction: column;
  background-color: #e8e8e8;
  border-radius: 2rem 2rem 0 0;
}
.main__menu .restaurant__container .restaurant__title__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main__menu .restaurant__container .restaurant__title__container .restaurant__title {
  font-size: 1.2rem;
  font-family: Shrikhand;
  font-weight: 400;
  padding: 1rem 1rem;
}
.main__menu .restaurant__container .restaurant__title__container .restaurant__icon__container {
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main__menu .restaurant__container .restaurant__title__container .restaurant__icon__container .restaurant__icon {
  color: #000000;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 1;
  transition: 0.2s;
  font-size: 1.5rem;
}
.main__menu .restaurant__container .restaurant__title__container .restaurant__icon__container .restaurant__icon--full {
  font-size: 1.5rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 2;
  color: transparent;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 0.2s;
}
.main__menu .restaurant__container .restaurant__title__container .restaurant__icon__container .restaurant__icon--full:hover {
  opacity: 1;
}
.main__menu .button__container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.main__menu .button__container .button {
  padding: 1rem;
  border-radius: 2rem;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border: transparent;
  background: linear-gradient(#9356DC, #FF79DA);
  box-shadow: 0 0.2rem 0.5rem 0 #828282;
}
.main__menu .button__container .button:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 0.2rem 0.5rem 0 #353535;
  transition: all 400ms;
}

footer {
  background-color: #353535;
}
footer div {
  margin-left: 10%;
}
footer div h2 {
  font-family: "Shrikhand";
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 0 1rem 0;
}
footer div ul {
  display: flex;
  flex-direction: column;
}
footer div ul__link__icon {
  color: #fff;
}
footer div ul li {
  list-style: none;
  padding: 0.75rem 0;
}
footer div ul li a {
  font-weight: 300;
  text-decoration: none;
  color: #fff;
}
footer div ul li a i {
  width: 0.75rem;
  padding-right: 0.75rem;
}
footer div ul li .footer__nav__link--active {
  font-weight: bold;
}

.menu__categories__container:nth-child(2) {
  animation: loading-menu 0.75s forwards;
}

.menu__categories__container:nth-child(3) {
  animation: loading-menu 1.25s forwards;
}

.menu__categories__container:nth-child(4) {
  animation: loading-menu 1.75s forwards;
}

@keyframes loading-menu {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (min-widht: 600px) and (max-width: 769px) {
  .header .header__logo__container {
    height: 4.5rem;
    width: 100%;
  }
  .header .header__logo__container .header__logo {
    background-color: red;
  }
  .header .header__logo__container .header__logo .logo-picture {
    color: red;
    height: 3rem;
    width: 5rem;
  }
}
body {
  font-family: "Roboto";
  font-size: 16px;
}

h1 {
  font-family: "Shrikhand";
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.header {
  height: 3rem;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.5rem #9b9b9b;
}
.header--menu {
  position: absolute;
}
.header__icon__container {
  position: absolute;
  left: 1rem;
}
.header__icon__container .header-back__link {
  color: #000000;
}

.restaurants__container {
  background-color: #e8e8e8;
}
.restaurants__container .restaurants__title {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 0 2rem 2rem;
}
.restaurants__container .restautants__card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}
.restaurants__container .restautants__card__container .restaurant__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 1.5rem 0 1.5rem 0;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.5rem #cecece;
  transform: scale(1);
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__link .restaurant__picture {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__novelty-frame__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: auto;
  background-color: #99e2d0;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__novelty-frame__container .restaurant__card__novelty-frame {
  color: #2c9c81;
  padding: 0.2rem;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information .restaurant__card__title {
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem 0 0.25rem 1rem;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information .restaurant__localisation-information {
  font-size: 1rem;
  font-weight: 100;
  padding: 0.25rem 0 1rem 1rem;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information .restaurant__card__information__icon__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 4.5rem;
  height: 4.5rem;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information .restaurant__card__information__icon__container .restaurant__card__information__icon {
  color: #000000;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: -1;
  transition: 0.2s;
  font-size: 1.5rem;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information .restaurant__card__information__icon__container .restaurant__card__information__icon--full {
  font-size: 1.5rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 1;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: all 0.2s;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information .restaurant__card__information__icon__container .restaurant__card__information__icon--full:hover {
  opacity: 1;
}

.main__menu .menu__picture__container .menu__picture {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  position: relative;
  top: 2rem;
  z-index: -1;
}
.main__menu .menu__categories__container {
  display: flex;
  flex-direction: column;
}
.main__menu .menu__categories__container .menu__categories__title {
  font-size: 1.2rem;
  margin: 0.5rem 1rem;
  font-weight: 400;
  width: 2.5rem;
  border-bottom: 0.2rem solid #99e2d0;
}
.main__menu .menu__categories__container .menu__categories__choice__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 2rem);
  margin: 0.5rem 1rem;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.5rem 0 #828282;
  border-radius: 1rem;
  overflow: hidden;
}
.main__menu .menu__categories__container .menu__categories__choice__container:hover .menu__categories__text {
  width: calc(100% - 4.5rem);
}
.main__menu .menu__categories__container .menu__categories__choice__container:hover .menu__categories__animation {
  width: 4.5rem;
}
.main__menu .menu__categories__container .menu__categories__choice__container:hover .menu__categories__animation__icon {
  transform: rotate(360deg);
}
.main__menu .menu__categories__container .menu__categories__choice__container .menu__categories__text {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main__menu .menu__categories__container .menu__categories__choice__container .menu__choice {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main__menu .menu__categories__container .menu__categories__choice__container .menu__sub-choice {
  font-size: 0.8rem;
  font-weight: 300;
  margin: 0.5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main__menu .menu__categories__container .menu__categories__choice__container .menu__price {
  font-weight: bold;
  margin: 0.5rem;
  align-self: flex-end;
  justify-content: flex-end;
}
.main__menu .menu__categories__container .menu__categories__choice__container .menu__choice__animation__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 4.5rem;
  overflow: hidden;
  background-color: #99e2d0;
  border-radius: 0 1rem 1rem 0;
}
.main__menu .menu__categories__container .menu__categories__choice__container .menu__choice__animation__container .menu__choice__animation__icon {
  color: #fff;
  margin: 1rem;
}
.main__menu .menu__categories__text {
  display: grid;
  margin: 0 0.5rem;
  grid-template-columns: 1fr auto;
  width: 100%;
  transition: all 0.5s;
}
.main__menu .menu__categories__text .menu__sub-choice {
  grid-row: 2/span 1;
  grid-column: 1/span 1;
}
.main__menu .menu__categories__text .menu__price {
  grid-row: 2/span 1;
  grid-column: 2/span 1;
  padding: 0.5rem;
}
.main__menu .menu__categories__animation {
  background-color: #99e2d0;
  overflow: hidden;
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.5s;
}
.main__menu .menu__categories__animation .menu__categories__animation__icon {
  transition: all 0.5s;
  font-size: 1.5rem;
}
.main__menu .restaurant__container {
  display: flex;
  flex-direction: column;
  background-color: #e8e8e8;
  border-radius: 2rem 2rem 0 0;
}
.main__menu .restaurant__container .restaurant__title__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main__menu .restaurant__container .restaurant__title__container .restaurant__title {
  font-size: 1.2rem;
  font-family: Shrikhand;
  font-weight: 400;
  padding: 1rem 1rem;
}
.main__menu .restaurant__container .restaurant__title__container .restaurant__icon__container {
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main__menu .restaurant__container .restaurant__title__container .restaurant__icon__container .restaurant__icon {
  color: #000000;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 1;
  transition: 0.2s;
  font-size: 1.5rem;
}
.main__menu .restaurant__container .restaurant__title__container .restaurant__icon__container .restaurant__icon--full {
  font-size: 1.5rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 2;
  color: transparent;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 0.2s;
}
.main__menu .restaurant__container .restaurant__title__container .restaurant__icon__container .restaurant__icon--full:hover {
  opacity: 1;
}
.main__menu .button__container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.main__menu .button__container .button {
  padding: 1rem;
  border-radius: 2rem;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border: transparent;
  background: linear-gradient(#9356DC, #FF79DA);
  box-shadow: 0 0.2rem 0.5rem 0 #828282;
}
.main__menu .button__container .button:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 0.2rem 0.5rem 0 #353535;
  transition: all 400ms;
}

footer {
  background-color: #353535;
}
footer div {
  margin-left: 10%;
}
footer div h2 {
  font-family: "Shrikhand";
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 0 1rem 0;
}
footer div ul {
  display: flex;
  flex-direction: column;
}
footer div ul__link__icon {
  color: #fff;
}
footer div ul li {
  list-style: none;
  padding: 0.75rem 0;
}
footer div ul li a {
  font-weight: 300;
  text-decoration: none;
  color: #fff;
}
footer div ul li a i {
  width: 0.75rem;
  padding-right: 0.75rem;
}
footer div ul li .footer__nav__link--active {
  font-weight: bold;
}

.menu__categories__container:nth-child(2) {
  animation: loading-menu 0.75s forwards;
}

.menu__categories__container:nth-child(3) {
  animation: loading-menu 1.25s forwards;
}

.menu__categories__container:nth-child(4) {
  animation: loading-menu 1.75s forwards;
}

@keyframes loading-menu {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (min-widht: 600px) and (max-width: 769px) {
  .header .header__logo__container {
    height: 4.5rem;
    width: 100%;
  }
  .header .header__logo__container .header__logo {
    background-color: red;
  }
  .header .header__logo__container .header__logo .logo-picture {
    color: red;
    height: 3rem;
    width: 5rem;
  }
}
body {
  font-family: "Roboto";
  font-size: 16px;
}

h1 {
  font-family: "Shrikhand";
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.header {
  height: 3rem;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.5rem #9b9b9b;
}
.header--menu {
  position: absolute;
}
.header__icon__container {
  position: absolute;
  left: 1rem;
}
.header__icon__container .header-back__link {
  color: #000000;
}

.restaurants__container {
  background-color: #e8e8e8;
}
.restaurants__container .restaurants__title {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 0 2rem 2rem;
}
.restaurants__container .restautants__card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}
.restaurants__container .restautants__card__container .restaurant__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 1.5rem 0 1.5rem 0;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.5rem #cecece;
  transform: scale(1);
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__link .restaurant__picture {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__novelty-frame__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: auto;
  background-color: #99e2d0;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__novelty-frame__container .restaurant__card__novelty-frame {
  color: #2c9c81;
  padding: 0.2rem;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information .restaurant__card__title {
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem 0 0.25rem 1rem;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information .restaurant__localisation-information {
  font-size: 1rem;
  font-weight: 100;
  padding: 0.25rem 0 1rem 1rem;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information .restaurant__card__information__icon__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 4.5rem;
  height: 4.5rem;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information .restaurant__card__information__icon__container .restaurant__card__information__icon {
  color: #000000;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: -1;
  transition: 0.2s;
  font-size: 1.5rem;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information .restaurant__card__information__icon__container .restaurant__card__information__icon--full {
  font-size: 1.5rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 1;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: all 0.2s;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information .restaurant__card__information__icon__container .restaurant__card__information__icon--full:hover {
  opacity: 1;
}

.main__menu .menu__picture__container .menu__picture {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  position: relative;
  top: 2rem;
  z-index: -1;
}
.main__menu .menu__categories__container {
  display: flex;
  flex-direction: column;
}
.main__menu .menu__categories__container .menu__categories__title {
  font-size: 1.2rem;
  margin: 0.5rem 1rem;
  font-weight: 400;
  width: 2.5rem;
  border-bottom: 0.2rem solid #99e2d0;
}
.main__menu .menu__categories__container .menu__categories__choice__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 2rem);
  margin: 0.5rem 1rem;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.5rem 0 #828282;
  border-radius: 1rem;
  overflow: hidden;
}
.main__menu .menu__categories__container .menu__categories__choice__container:hover .menu__categories__text {
  width: calc(100% - 4.5rem);
}
.main__menu .menu__categories__container .menu__categories__choice__container:hover .menu__categories__animation {
  width: 4.5rem;
}
.main__menu .menu__categories__container .menu__categories__choice__container:hover .menu__categories__animation__icon {
  transform: rotate(360deg);
}
.main__menu .menu__categories__container .menu__categories__choice__container .menu__categories__text {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main__menu .menu__categories__container .menu__categories__choice__container .menu__choice {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main__menu .menu__categories__container .menu__categories__choice__container .menu__sub-choice {
  font-size: 0.8rem;
  font-weight: 300;
  margin: 0.5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main__menu .menu__categories__container .menu__categories__choice__container .menu__price {
  font-weight: bold;
  margin: 0.5rem;
  align-self: flex-end;
  justify-content: flex-end;
}
.main__menu .menu__categories__container .menu__categories__choice__container .menu__choice__animation__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 4.5rem;
  overflow: hidden;
  background-color: #99e2d0;
  border-radius: 0 1rem 1rem 0;
}
.main__menu .menu__categories__container .menu__categories__choice__container .menu__choice__animation__container .menu__choice__animation__icon {
  color: #fff;
  margin: 1rem;
}
.main__menu .menu__categories__text {
  display: grid;
  margin: 0 0.5rem;
  grid-template-columns: 1fr auto;
  width: 100%;
  transition: all 0.5s;
}
.main__menu .menu__categories__text .menu__sub-choice {
  grid-row: 2/span 1;
  grid-column: 1/span 1;
}
.main__menu .menu__categories__text .menu__price {
  grid-row: 2/span 1;
  grid-column: 2/span 1;
  padding: 0.5rem;
}
.main__menu .menu__categories__animation {
  background-color: #99e2d0;
  overflow: hidden;
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.5s;
}
.main__menu .menu__categories__animation .menu__categories__animation__icon {
  transition: all 0.5s;
  font-size: 1.5rem;
}
.main__menu .restaurant__container {
  display: flex;
  flex-direction: column;
  background-color: #e8e8e8;
  border-radius: 2rem 2rem 0 0;
}
.main__menu .restaurant__container .restaurant__title__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main__menu .restaurant__container .restaurant__title__container .restaurant__title {
  font-size: 1.2rem;
  font-family: Shrikhand;
  font-weight: 400;
  padding: 1rem 1rem;
}
.main__menu .restaurant__container .restaurant__title__container .restaurant__icon__container {
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main__menu .restaurant__container .restaurant__title__container .restaurant__icon__container .restaurant__icon {
  color: #000000;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 1;
  transition: 0.2s;
  font-size: 1.5rem;
}
.main__menu .restaurant__container .restaurant__title__container .restaurant__icon__container .restaurant__icon--full {
  font-size: 1.5rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 2;
  color: transparent;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 0.2s;
}
.main__menu .restaurant__container .restaurant__title__container .restaurant__icon__container .restaurant__icon--full:hover {
  opacity: 1;
}
.main__menu .button__container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.main__menu .button__container .button {
  padding: 1rem;
  border-radius: 2rem;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border: transparent;
  background: linear-gradient(#9356DC, #FF79DA);
  box-shadow: 0 0.2rem 0.5rem 0 #828282;
}
.main__menu .button__container .button:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 0.2rem 0.5rem 0 #353535;
  transition: all 400ms;
}

footer {
  background-color: #353535;
}
footer div {
  margin-left: 10%;
}
footer div h2 {
  font-family: "Shrikhand";
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 0 1rem 0;
}
footer div ul {
  display: flex;
  flex-direction: column;
}
footer div ul__link__icon {
  color: #fff;
}
footer div ul li {
  list-style: none;
  padding: 0.75rem 0;
}
footer div ul li a {
  font-weight: 300;
  text-decoration: none;
  color: #fff;
}
footer div ul li a i {
  width: 0.75rem;
  padding-right: 0.75rem;
}
footer div ul li .footer__nav__link--active {
  font-weight: bold;
}

.menu__categories__container:nth-child(2) {
  animation: loading-menu 0.75s forwards;
}

.menu__categories__container:nth-child(3) {
  animation: loading-menu 1.25s forwards;
}

.menu__categories__container:nth-child(4) {
  animation: loading-menu 1.75s forwards;
}

@keyframes loading-menu {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (min-widht: 600px) and (max-width: 769px) {
  .header .header__logo__container {
    height: 4.5rem;
    width: 100%;
  }
  .header .header__logo__container .header__logo {
    background-color: red;
  }
  .header .header__logo__container .header__logo .logo-picture {
    color: red;
    height: 3rem;
    width: 5rem;
  }
}
body {
  font-family: "Roboto";
  font-size: 16px;
}

h1 {
  font-family: "Shrikhand";
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.header {
  height: 3rem;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.5rem #9b9b9b;
}
.header--menu {
  position: absolute;
}
.header__icon__container {
  position: absolute;
  left: 1rem;
}
.header__icon__container .header-back__link {
  color: #000000;
}

.restaurants__container {
  background-color: #e8e8e8;
}
.restaurants__container .restaurants__title {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 0 2rem 2rem;
}
.restaurants__container .restautants__card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}
.restaurants__container .restautants__card__container .restaurant__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 1.5rem 0 1.5rem 0;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.5rem #cecece;
  transform: scale(1);
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__link .restaurant__picture {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__novelty-frame__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: auto;
  background-color: #99e2d0;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__novelty-frame__container .restaurant__card__novelty-frame {
  color: #2c9c81;
  padding: 0.2rem;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information .restaurant__card__title {
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem 0 0.25rem 1rem;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information .restaurant__localisation-information {
  font-size: 1rem;
  font-weight: 100;
  padding: 0.25rem 0 1rem 1rem;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information .restaurant__card__information__icon__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 4.5rem;
  height: 4.5rem;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information .restaurant__card__information__icon__container .restaurant__card__information__icon {
  color: #000000;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: -1;
  transition: 0.2s;
  font-size: 1.5rem;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information .restaurant__card__information__icon__container .restaurant__card__information__icon--full {
  font-size: 1.5rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 1;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: all 0.2s;
}
.restaurants__container .restautants__card__container .restaurant__card .restaurant__card__information .restaurant__card__information__icon__container .restaurant__card__information__icon--full:hover {
  opacity: 1;
}

.main__menu .menu__picture__container .menu__picture {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  position: relative;
  top: 2rem;
  z-index: -1;
}
.main__menu .menu__categories__container {
  display: flex;
  flex-direction: column;
}
.main__menu .menu__categories__container .menu__categories__title {
  font-size: 1.2rem;
  margin: 0.5rem 1rem;
  font-weight: 400;
  width: 2.5rem;
  border-bottom: 0.2rem solid #99e2d0;
}
.main__menu .menu__categories__container .menu__categories__choice__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 2rem);
  margin: 0.5rem 1rem;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.5rem 0 #828282;
  border-radius: 1rem;
  overflow: hidden;
}
.main__menu .menu__categories__container .menu__categories__choice__container:hover .menu__categories__text {
  width: calc(100% - 4.5rem);
}
.main__menu .menu__categories__container .menu__categories__choice__container:hover .menu__categories__animation {
  width: 4.5rem;
}
.main__menu .menu__categories__container .menu__categories__choice__container:hover .menu__categories__animation__icon {
  transform: rotate(360deg);
}
.main__menu .menu__categories__container .menu__categories__choice__container .menu__categories__text {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main__menu .menu__categories__container .menu__categories__choice__container .menu__choice {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main__menu .menu__categories__container .menu__categories__choice__container .menu__sub-choice {
  font-size: 0.8rem;
  font-weight: 300;
  margin: 0.5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main__menu .menu__categories__container .menu__categories__choice__container .menu__price {
  font-weight: bold;
  margin: 0.5rem;
  align-self: flex-end;
  justify-content: flex-end;
}
.main__menu .menu__categories__container .menu__categories__choice__container .menu__choice__animation__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 4.5rem;
  overflow: hidden;
  background-color: #99e2d0;
  border-radius: 0 1rem 1rem 0;
}
.main__menu .menu__categories__container .menu__categories__choice__container .menu__choice__animation__container .menu__choice__animation__icon {
  color: #fff;
  margin: 1rem;
}
.main__menu .menu__categories__text {
  display: grid;
  margin: 0 0.5rem;
  grid-template-columns: 1fr auto;
  width: 100%;
  transition: all 0.5s;
}
.main__menu .menu__categories__text .menu__sub-choice {
  grid-row: 2/span 1;
  grid-column: 1/span 1;
}
.main__menu .menu__categories__text .menu__price {
  grid-row: 2/span 1;
  grid-column: 2/span 1;
  padding: 0.5rem;
}
.main__menu .menu__categories__animation {
  background-color: #99e2d0;
  overflow: hidden;
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.5s;
}
.main__menu .menu__categories__animation .menu__categories__animation__icon {
  transition: all 0.5s;
  font-size: 1.5rem;
}
.main__menu .restaurant__container {
  display: flex;
  flex-direction: column;
  background-color: #e8e8e8;
  border-radius: 2rem 2rem 0 0;
}
.main__menu .restaurant__container .restaurant__title__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main__menu .restaurant__container .restaurant__title__container .restaurant__title {
  font-size: 1.2rem;
  font-family: Shrikhand;
  font-weight: 400;
  padding: 1rem 1rem;
}
.main__menu .restaurant__container .restaurant__title__container .restaurant__icon__container {
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main__menu .restaurant__container .restaurant__title__container .restaurant__icon__container .restaurant__icon {
  color: #000000;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 1;
  transition: 0.2s;
  font-size: 1.5rem;
}
.main__menu .restaurant__container .restaurant__title__container .restaurant__icon__container .restaurant__icon--full {
  font-size: 1.5rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 2;
  color: transparent;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 0.2s;
}
.main__menu .restaurant__container .restaurant__title__container .restaurant__icon__container .restaurant__icon--full:hover {
  opacity: 1;
}
.main__menu .button__container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.main__menu .button__container .button {
  padding: 1rem;
  border-radius: 2rem;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border: transparent;
  background: linear-gradient(#9356DC, #FF79DA);
  box-shadow: 0 0.2rem 0.5rem 0 #828282;
}
.main__menu .button__container .button:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 0.2rem 0.5rem 0 #353535;
  transition: all 400ms;
}

footer {
  background-color: #353535;
}
footer div {
  margin-left: 10%;
}
footer div h2 {
  font-family: "Shrikhand";
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 0 1rem 0;
}
footer div ul {
  display: flex;
  flex-direction: column;
}
footer div ul__link__icon {
  color: #fff;
}
footer div ul li {
  list-style: none;
  padding: 0.75rem 0;
}
footer div ul li a {
  font-weight: 300;
  text-decoration: none;
  color: #fff;
}
footer div ul li a i {
  width: 0.75rem;
  padding-right: 0.75rem;
}
footer div ul li .footer__nav__link--active {
  font-weight: bold;
}

.menu__categories__container:nth-child(2) {
  animation: loading-menu 0.75s forwards;
}

.menu__categories__container:nth-child(3) {
  animation: loading-menu 1.25s forwards;
}

.menu__categories__container:nth-child(4) {
  animation: loading-menu 1.75s forwards;
}

@keyframes loading-menu {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (min-widht: 600px) and (max-width: 769px) {
  .header .header__logo__container {
    height: 4.5rem;
    width: 100%;
  }
  .header .header__logo__container .header__logo {
    background-color: red;
  }
  .header .header__logo__container .header__logo .logo-picture {
    color: red;
    height: 3rem;
    width: 5rem;
  }
}

/*# sourceMappingURL=index.css.map */
