@media screen and (min-width: 769px) and (max-width: 1800px) {
  .restaurants__container {
    .restautants__card__container {
      margin-left: 2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .operation {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    -ms-grid-row-align: center;
    justify-content: space-around; 
    grid-gap: 1rem;
    height: auto;
    .operation__title {
      margin: 2.5rem 0 0 2.75rem;
      padding: 0 0.25rem;
      font-size: 1.5rem;
    }
    .operation__container {
      padding: 1.5rem 2rem;
      width: 100%;
    }
  }

  footer{
    div {
      display: flex;
      flex-direction: column  ;
      align-items: center;
      justify-content: center;
      margin: 0;
      ul {
        justify-content: center;
        align-items: center ;
      }
    }
  }
  .main__menu {
    .restaurant__container {
      .restaurant__title__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        .restaurant__title {
          font-size: 1.5rem;
        }
      }
      .menu__categories__container {
        max-width: 800px;
        margin-left: 22.5%;
        margin-right: 22.5%;
      }
    }
    .menu__categories__container {
      display: flex;
      align-items: center;
    }
  }
}