footer {
    background-color: $background-color;
    div {
        margin-left: 10%;
        h2 {
            font-family: "Shrikhand";
            color: $color-white;
            font-size: $title-size-base;
            padding: 1rem 0 1rem 0;
        }
        ul {
            display: flex;
            flex-direction: column;
            &__link__icon {
                color: $color-white;
            }
            li {
                list-style: none;
                padding: .75rem 0;
                a {
                    font-weight: 300;
                    text-decoration: none;
                    color: $color-white;
                    i {
                        width: .75rem;
                        padding-right: .75rem;
                    }
                }
                .footer__nav__link--active {
                    font-weight: bold;
                }
            }
        }
    }
}